	.well2 {
		min-height: 20px;
		padding: 19px;
		margin-bottom: 20px;
		background-color: #f5f5f5;
		border: 1px solid #e3e3e3;
		}

		.well3 {
		min-height: 20px;
		padding: 19px;
		margin-bottom: 20px;
		background-color: white;
		border: 1px solid #e3e3e3;
		}
		
		.well-map {
		min-height: 300px;
		padding: 19px;
		margin-bottom: 20px;
		background-color: white;
		border: 1px solid #e3e3e3;
		}

		.addressbox {
			padding: 5px;
			background: #F3F3F3;
		}
		
		.sp_key{
			font-weight: bold;
			display: block;
		}
		
		.sp_value{
			display: block;
		}
		
		.table td{
			width:50%;
		}

		.container-fluid {
			padding-right: 0px;
			padding-left: 0px;
		}

.cycle-prev, .cycle-next { position: absolute; top: 0; width: 30%; opacity: 0; filter: alpha(opacity=0); z-index: 800; height: 100%; cursor: pointer; }
.cycle-prev { left: 0;  background: url(http://malsup.github.com/images/left.png) 50% 50% no-repeat;}
.cycle-next { right: 0; background: url(http://malsup.github.com/images/right.png) 50% 50% no-repeat;}
.cycle-prev:hover, .cycle-next:hover { opacity: .7; filter: alpha(opacity=70) }
